#game_div {
    display: none;
}

#post_game_div {
    display: none;
}

#stats_box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#image_display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#options_display {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.option {
    flex-grow: 1;
    padding: 5px;
    margin:0 1px;
}

#hint_display {
    text-align: center;
}

.center {
    text-align: center;
    display: inline-block;
}