#game_div {
    display: none;
}

#post_game_div {
    display: none;
}

#stats_box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#image_display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#options_display {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.option {
    flex-grow: 1;
    padding: 5px;
    margin:0 1px;
}

#timer_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer_display {
    padding: 5px;
    margin:0 1px;
}

#hint_display {
    text-align: center;
}

#git_link {
    height: 48px;
    width: 48px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.center_div {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}